<form (submit)="onSubmit()" [formGroup]="Paziente">
    <fieldset formGroupName="anagrafica">

        <div class="flex flex-col p-4">
        <label for="nome">Nome: </label>
        <input 
            formControlName = "nome" 
            [invalid]="checkFormControl('anagrafica.nome')"
            class="w-2xs"
            id="nome" 
            pInputText 
            type="text"
        >
        @if (checkFormControl('anagrafica.nome')) {
            @if (checkFormControlError('anagrafica.nome', 'required')) {
                <p class="text-red-500">
                    Il campo "Nome" è obbligatorio
                </p>
            }
            @if (checkFormControlError('anagrafica.nome', 'minlength')) {
                <p class="text-red-500">
                    Il campo "Nome" deve contenere almeno {{checkFormControlError('nome', 'minlength').requiredLength }} caratteri
                </p>
            }
            @if (checkFormControlError('anagrafica.nome', 'maxlength')) {
                <p class="text-red-500">
                    Il campo "Nome" non può superare i {{ checkFormControlError('nome', 'maxlength').requiredLength }} caratteri
                </p>
            }   
        }
        </div>

        <div class="flex flex-col p-4">
            <label for="cognome">Cognome: </label>
            <input 
                formControlName = "cognome" 
                [invalid]="checkFormControl('anagrafica.cognome')"
                class="w-2xs"
                id="cognome" 
                pInputText 
                type="text"
            >
            @if (checkFormControl('anagrafica.cognome')) {
                @if (checkFormControlError('anagrafica.cognome', 'required')) {
                    <p class="text-red-500">
                        Il campo "Cognome" è obbligatorio
                    </p>
                }
                @if (checkFormControlError('anagrafica.cognome', 'minlength')) {
                    <p class="text-red-500">
                        Il campo "Cognome" deve contenere almeno {{checkFormControlError('cognome', 'minlength').requiredLength }} caratteri
                    </p>
                }
                @if (checkFormControlError('anagrafica.cognome', 'maxlength')) {
                    <p class="text-red-500">
                        Il campo "Cognome" non può superare i {{ checkFormControlError('cognome', 'maxlength').requiredLength }} caratteri
                    </p>
                }
            }
        </div>
    </fieldset>


    

    <p-button 
    type="submit"
    label="Invia" 
    />
    <p-button 
    (onClick) = "Paziente.reset()"
    label="Reset" 
    severity="warn"
    variant="outlined"
    />

</form>

<p>Error: {{Paziente.errors | json}}</p>
<p>Modifica:
    @if (Paziente.dirty){
        <span class="text-green-500"> Modificato</span>
    }@else{
        <span class="text-red-500"> Non modificato</span>
    }
</p>
<p>Toccata: 
    @if (Paziente.touched) {
        <span class="text-green-500"> Toccata</span>
    } @else {
        <span class="text-red-500"> Non toccata</span>
    }
</p>
<p>Valida:
    @if (Paziente.valid) {
        <span class="text-green-500"> Valida</span>
    } @else {
        <span class="text-red-500"> Non valida</span>
    }
</p>
<p>Form valida: 
    @if (Paziente.invalid && (Paziente.touched || Paziente.dirty)) {
        <span class="text-red-500">Non valida</span>
    } @else {
        <span class="text-green-500">Valida</span>
    }
</p>
<p>Pending:
    @if (Paziente.pending) {
        <span class="text-green-500"> Pending</span>
    } @else {
        <span class="text-red-500"> Non pending</span>
    }
</p>

<p>Valore Form Paziente: {{Paziente.value |json}}</p>
<p>Error: {{Paziente.errors |json}}</p>

